*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
} 

:root{
    --uno: #0468BF;
    --dos: #27A4F2;
    --tres: #52B5F2;
    --cuatro: #6BCCF2;
    --cinco: #91E0F2;
    --seis: aqua;
}

body{
    margin: auto;
    background-color: #0468BF;
    background-size: cover;
    background-repeat: initial;
    color: white;
    width: 100%;
    height: 100vh;
    font-size: 20px;
}

.navegacion{
    min-width: 600px;
    background-color: var(--uno);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: fantasy;
}

.container-resultados{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container_resultado_curso{
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 15px;
}

.resultado_curso{
    position: relative;
    width: 200px;
    height: 250px;
    padding: 20px;
    background-image: url("/static/AppCoder/assets/img/sound.jpg");
    border-radius: 10px;
    border: white 1px groove;
    overflow: hidden;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.resultado_alumnos{
    position: relative;
    width: 230px;
    height: 300px;
    padding: 20px;
    background-image: url("/static/AppCoder/assets/img/sound.jpg");
    border-radius: 10px;
    border: white 1px groove;
    overflow: hidden;
    text-align: center;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.resultado_alumnos::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 1;
}

.resultado_alumnos p{
    z-index: 2;
    font-weight: bolder;
}

.resultado_curso p{
    z-index: 2;
    font-weight: bolder;
}

.resultado_curso input{
    position: relative;
    text-align: center;
    width: 80%;
    z-index: 3;
    font-weight: bolder;
}

.resultado_curso img{
    position: absolute;
    z-index: 3;
}

.resultado_curso::before{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(32, 32, 32, 0.5);
    backdrop-filter: blur(5px);
    content: "";
    z-index: 1;
}

.container_btn_curso{
    width: 100%;
}

.btn-curso{
    border: none;
    padding: 2px;
    background-color: #0468BF;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-size: 15px;
}

.borrar{
    background-color: rgb(175, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 2.5vh;
    color: white;
    font-weight: bold;
    border: none;
}

button.enlace{
    background-color: #0468BF;
    width: max-content;
    padding: 15px;
    height: 100%;
    color: white;
    border: none; 
}

.editar{
    background-color: #c0c405;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 5px;
    border-radius: 5px;
    font-size: 2.5vh;
    color: white;
    font-weight: bold;
}

.editar_perfil{
    background-color: #028831;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 5px;
    font-size: 2.5vh;
    color: white;
    font-weight: bold;
}

.borrar_editar{
    display: flex;
    justify-content: space-evenly;
}

.container_agregar{
    width: 89%;
    display: flex;
    justify-content: right;
    /* background-color: black; */
    padding: 10px;
}

.btn_agregar{
    background-color: var(--cuatro);
    padding: 10px;
    border-radius: 8px;
    font-size: 2.5vh;
    font-weight: bold;
    color: #0468BF;
    margin-bottom: 20px;
    border: #52B5F2 3px solid;
}

.btn_agregar:hover{
    background-color: #0468BF;
    color: white;
    border-color: white;
}

.icon{
    width: 30px;
    height: 30px;
    margin-left: 2vw;
}

.icon-lupa{
    border: none;
    background-color: #0468BF;
}

.lupa{
    width: 15vw;
    height: 50%;
    color: black;
    padding: 8px;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    border: none;
}

.enlace{
    font-size: 3vh;
    width: max-content;
    text-decoration: none;
    padding: 15px;
    height: 100%;
}

.enlace:hover{
    color: var(--cinco);
}

.container-negro{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
}

.container-titulo{
    width: 100%;
    padding: 18%;
    background-image: url('/static/AppCoder/assets/img/coder.jpg');
    background-repeat: no-repeat;
    background-size: 100vw auto;
    position: relative;
}


.titulo{
    margin: auto;
    font-family: cursive;
    font-size: 7vw;
    font-weight: bold;
    text-align: center;
}

footer{
    padding-top: 20px;
    background-color: #057ac3;
    display: grid;
    flex-direction: row;
    bottom: 0;
    border: black .5px solid;
}

.items{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}

a{
    font-size: 3vh;
    text-decoration: none;
    color: white;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    text-align: center;
}

.items a:hover{
    color: var(--cuatro);
}

.derechos{
    margin-top: 20px;
    color: white;
    text-align: center;
}

.titulo_curso{
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}

.container-table{
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: center;
}

.table{
    width: 80%;
    background-color: #6BCCF2;
    text-align: center;
    border-radius: 5px;
    border: #0468BF 3px groove;
}

.titulo-table{
    background-color: var(--uno);
    color: white;
}

.row-table{
    padding: 10px;
}

.card h4,
.card p{
    color: black;
}

main{
    display: flex;
    justify-content: center;
}

.container-alumnos{
    margin: 0 auto;
    padding: 25px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

.alumno{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    margin: auto;
    width: 280px;
    height: 350px;
    padding: 20px;
    background-color: #4bb9fc95;
    border-radius: 10px;
    border: #0468BF 3px groove;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
}

.card-body{
    display: grid;
    align-items: center;
}

.perfil{
    border: #0468BF groove 3px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    z-index: 2;
}

.container-btn{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-añadir{
    width: 100%;
    column-gap: 30px;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-btn2{
    width: 100%;
    padding: 5px;
    display: grid;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}

.btn{
    border: #0468BF 3px solid;
    background-color: #27A4F2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
}

.btn:hover{
    background-color: #0468BF;
    color: var(--cinco);
}

.presentacion{
    margin: 20px auto;
    width: 90%;
    padding: 3vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
}

.contenedor_presentacion{
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 3vw;
    border-radius: 2vw;
    background-color: #3181c7b1;
    text-align: center;
}

.img_study{
    width: 100%;
    height: 350px;
    border-radius: 15px;
    border: var(--cuatro) 3px groove;
    margin: auto;
    padding: 1px;
    opacity: 0.85;
}

.dos{
    grid-column: 1/4;
}

.container-form{
    width: 100%;
    padding: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    color: white;
    font-weight: bold;
    font-size: 1.5vw;
    width: 50%;
    /* background-image: url('/static/AppCoder/assets/img/fondo-form6.jpg'); */
    background-color: rgba(0, 0, 0, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 3vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 2vh;
    border-radius: 5px;
    align-items: center;
    border: #0468BF groove 3px;
    position: relative;
}


.formulario::before {
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(8px); 
    z-index: 1;
}


.campos{
    padding-bottom: 2vw;
    z-index: 2;
}

.campos input{
    width: 100%;
    border: none;
    padding: 5px;
    border-radius: 3px;
}

.formulario .btn{
    width: 50%;
    font-size: 1.5vw;
    z-index: 2;
}

.container-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

.selector{
    width: 100%;
    padding: .5vw;
    margin-top: 3vh;
}

.prueba{
    color: white;
}

.campos_dos{
    width: 100%;
    z-index: 2;
}

.campos_dos input{
    width: 100%;
    padding: 1.2vw;
    margin-top: 2.5vh;
    border-radius: 5px;
    border: none;
}

.container-btn-dos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-btn-dos .btn{
    width: 100%;
    padding: 1vw;
    margin-top: -1vh;
    font-size: 1.5vw;
    border-radius: 5px;
}

.container-form-dos{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.container-form-dos p{
    font-size: 2vw;
}

.container-campos{
    display: grid;
    align-items: center;
    margin-bottom: 1vh;
}

.container-campos p{
    margin-top: 1.5vh;
}

.formulario-dos{
    width: 50%;
    height: 480px;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 5vw;
    padding-right: 5vw;
    display: grid;
    grid-template-rows: 1fr 1fr .8fr;
    align-items: center;
    background-color: rgba(89, 88, 88, 0.5);
    border-radius: 8px;
    z-index: 3;
    margin-top: 5vh;
    /* margin: auto; */
}

.titulo_login{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute; 
    z-index: 2;
    color: white;
    font-size: 5.5vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container_titulo_login{
    margin-top: 5vh;
    padding-bottom: 5vh;
}

.container_registro{
    width: 100%;
    height: 12vh;
    font-size: 2vw;
    margin-top: 3vh;
    text-align: center;
    display: grid;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    position: absolute;
    z-index: 2;
    margin-top: 10vh;
}

.registro{
    width: 100%;
    /* text-decoration: underline; */
    font-size: 2vw;
}

.registro:hover{
    color: #91E0F2;
}

.body_login{
    width: 100%;
    height: 100vh;
    background-image: url("/static/AppCoder/assets/img/sound.jpg");
}

.body_login::before{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    content: "";
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 1;
}

.container-all{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    margin: auto;
    display: flex;
    justify-content: center;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
}

@media (max-width: 780px) {
    .titulo_login{
        font-size: 30px;
    }
}

@media (max-width: 480px) {
    .formulario-dos{
        width: 80%;
        height: 350px;
        margin-top: 0;
    }

    .campos_dos p{
        font-size: 20px;
    }

    .container-btn-dos .btn{
        font-size: 3vw;
    }

    .titulo_login{
        font-size: 20px;
    }

    .container-all{
        height: 100vh;
    }

    .container-btn-dos .btn{
        padding: 2vw;
    }

    .container-form-dos{
        height: 400px;
        display: flex;
        align-items: center;
    }

    .container_registro{
        height: 5vh;
        margin-top: 10vh;
        font-size: 20px;
    }

    .registro{
        font-size: 20px;
        margin-top: 10px;
    }

}

.busqueda{
    display: flex;
    justify-content: flex-end;
}

.añadir{
    margin-top: 4vh;
    margin-bottom: 5vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.titulo-editar-perfil{
    margin-top: 2vh;
    margin-bottom: 4vh;
    font-size: 3.8vh;
    font-family: cursive;
    text-align: center;
    color: #91E0F2;
}

table {
    width: 10vw;
    margin-top: 2vh;
    background-color: #27A4F2;
    margin: auto;
    border-collapse: collapse;
    /* border: #0468BF solid 10px; */
    border-radius: 8px;
}

td, th {
    padding: 20px;
}

input{
    border: none;
    padding: 1vh;
    width: 350px;
}

.contenedor-btn{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contenedor-editar-perfil{
    display: grid;
    justify-content: center;
    row-gap: 20px;
}

.boton{
    width: 120px;
    border: #0468BF 3px solid;
    background-color: #27A4F2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 3vh;
}

.imagen{
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    border: #6BCCF2 3px double;
}

.titulo-logout{
    font-size: 5vh;
    font-family: cursive;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}

span{
    font-weight: bold;
}

.grande{
    width: 13vh;
    height: 13vh;
    border: #0468BF groove 3px;
    border-radius: 50%;
}