
{% extends 'padre.html' %}

{% load static %}

{% block contenido %}


<main>
    <div class="container-alumnos">

    {% for n in alumnos %}
                <div class="card">
                    <div class="alumno">
                        <img class="perfil" src="{% static 'AppCoder/assets/img/alumno.png' %}" alt="">
                    </div>
                    <div class="card-body">
                        <h4>{{n.nombre}} {{n.apellido}}</h4>                      
                    </div>
                    <div container-btn>
                        <!-- <a class="btn">Ver Alumno</a> -->
                        <a class = "borrar" href="{% url 'eliminar_alumno' n.id %}">Eliminar</a>
                        <a class="editar" href="{% url 'editar_perfil' %}">Editar</a>
                    </div>
                </div>    
    {% endfor %}
    </div>
</main>
<div class="btn-añadir">

    <div class="añadir">
        <div>
            <a class="btn_agregar" href="{% url 'alta_alumno' %}">Añadir Alumno</a>
        </div>
        <form action="{% url 'resultado_alumno' %}" method="GET" class="busqueda">
            <input type="text" name="nombre" placeholder="Buscar Alumno" class="lupa">
            <button type="submit" class="icon-lupa">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="92" height="92" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                </svg>
            </button>
        </form>
    </div>

</div>


{% endblock %}