{% extends "padre.html" %}

{% load static %}

{% block contenido %}


<div class="container-form">
    <form action="{% url 'alta_alumno' %}" method="POST" class="formulario">
        {% csrf_token %}
        <div class="campos">
            <p>Nombre:</p>
            <input type="text" name = "nombre" placeholder="Ingresa tu nombre" required>
        </div>
    
        <div class="campos">
            <p>Apellido:</p>
            <input type="text" name="apellido" placeholder="Ingresa tu apellido" required>
        </div>

        <div class="campos">
            <p>Legajo:</p>
            <input type="number" name="legajo" placeholder="Ingresa tu legajo" required>
        </div>
    
        <div class="container-btn">
            <button class="btn">Enviar</button>
        </div>
    
    </form>
</div>


{% endblock %}