{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    <h2>{{mensaje}}</h2>
            <div class="container-alumnos">
                <div class="card">
                    <div class="alumno">
                        <img src="{{ url }}" alt="" class="grande">
                    </div>
                    <div class="card-body">
                        <p><span>Nombre de Usuario:</span> {{usuario}}</p>
                        <div class="container-btn2">
                            <!-- <button href="" class="enviar">Enviar Mensaje</button> -->
                            <form class="form" method="post" action="{% url 'Logout' %}">
                                <!-- Solución al error 405. Usar siempre el método POST -->
                                {% csrf_token %}
                                <button href="{% url 'Logout' %}" class="borrar">Cerrar Sesión</button>
                            </form>
                            <a href="{% url 'editar_perfil' %}" class="editar_perfil">Editar</a>
                        </div>
                        
                    </div>
                </div>
            </div>


{% endblock %}

<div class="card">
    <div class="alumno">
        <img class="perfil" src="{% static 'AppCoder/assets/img/alumno.png' %}" alt="">
    </div>
    <div class="card-body">
        <h4>{{n.nombre}} {{n.apellido}}</h4>                      
    </div>
    <div container-btn>
        <a class="btn">Ver Alumno</a>
    </div>
</div>   