<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>

 
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />

        <link href="{% static 'AppCoder/css/mi_styles.css' %}" rel="stylesheet"/>
    </head>
    <body>

        <nav class="navegacion">
            
            <a class="enlace" href="{% url 'inicio' %}">Inicio</a>                
            <a class="enlace" href="{% url 'cursos' %}">Cursos</a>
            <a class="enlace" href="{% url 'alumnos' %}">Alumnos</a>
            <a class="enlace" href="{% url 'profesores' %}">Profesores</a>

            <form action="{% url 'buscar' %}" method="GET" class="busqueda">
                <input type="text" name="nombre" placeholder="Buscar Curso" class="lupa">
                <button type="submit" class="icon-lupa">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="92" height="92" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                        <path d="M21 21l-6 -6" />
                    </svg>
                </button>
            </form>
            
        </nav>

        <header class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="container-titulo">
                        <div class="container-negro">
                            <h1 class="titulo">CoderHouse</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>


        {% block contenido %}
        {% endblock %}


        <footer class="footer">
                        <ul class="items">
                            <a href="#!">About</a>
                            <a href="#!">Contact</a>
                            <a href="#!">Terms of Use</a>
                            <a href="#!">Privacy Policy</a>
                        </ul>
                   
                        <ul class="icons">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>

                        <p class="derechos">&copy; Your Website 2023. All Rights Reserved.</p>
        </footer>

    </body>
</html>
