
{% extends 'padre.html' %}

{% load static %}

{% block contenido %}


<main>
    <div class="container-alumnos">

    {% for n in profesores %}
                <div class="card">
                    <div class="alumno">
                        <img class="perfil" src="{% static 'AppCoder/assets/img/profesor.png' %}" alt="">
                    </div>
                    <div class="card-body">
                        <h4>{{n.nombre}} {{n.apellido}}</h4>
                        <div class="borrar-editar">
                            <a href="{% url 'eliminar_profesor' n.id%}" class="borrar">Eliminar</a>
                            <a href="{% url 'editar_profesor' n.id%}" class="editar">Editar</a>
                        </div>
                    </div>
                </div>    
    {% endfor %}

    </div>
</main>

{% endblock %}