{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    {% if cursos %}

    <div class="container_resultados">
        <div class="container_resultado_curso">
            {% for curso in cursos %}
                <div class="resultado_curso">
                    <p>{{curso.nombre}}</p>
                    <p>Comisión: {{curso.camada}}</p>
                    <div class="container_btn_curso">
                        <input type="submit" value="Ver Curso" class="btn-curso">
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>

        
    {% else %}
        
        <p>No se encontraron cursos con ese nombre.</p>

    {% endif %}


{% endblock %}