

{% extends "padre.html" %}

{% load static %}

{% block contenido %}

    {% if alumnos %}

    <div class="container_resultados">
        <div class="container_resultado_curso">
            {% for alumno in alumnos %}
                <div class="resultado_alumnos">
                    <div class="alumno">
                        <img class="perfil" src="{% static 'AppCoder/assets/img/alumno.png' %}" alt="">
                    </div>
                    <div class="card-body">
                        <p>{{alumno.nombre}}</p>
                        <p>{{alumno.apellido}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

        
    {% else %}
        
        <p>No se encontraron alumnos con ese nombre.</p>

    {% endif %}


{% endblock %}
